/* VARIABLES */
:root {
    --bg-lightblue-color: #4f5d756c;
    --bg-color: #2d3142;
    --selected-color: #f97e49;
    --available-color: #545661d4; 
    --occupied-color: #ffffff; 
    --font-color: #ffffff;
}

* {
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);
}
body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin: 0 2rem;
}
.mainTitle {
    font-weight: 500;
    margin-bottom: 3.5rem;
}


/* MOVIE SELECTOR */
.screenContainer, .movieSelectorSection, .availabilitySection, .seatBookingSection {
    width: 100%;
    margin-bottom: 3rem;
}
.movieSelectorSection {
    max-width: 50rem;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.pickAMovie {
    padding: 0.2rem 0;
    font-weight: 200;
    font-size: 1rem;
}
.select {
    border: none;
    font-size: 1rem;
    font-weight: 300;
    color: black;
    padding: 0.2rem 1rem;
    outline: none;
    width: 60%;
    border-radius: 1rem;
}
.ticketCostBox {
    font-weight: 300;
    background-color: var(--font-color);
    color: rgba(0, 0, 0, 0.79);
    padding: 0.2rem 0.75rem;
    border-radius: 1rem;
}
.option {
    
}

/* AVAILABILITY SECTION */
.availabilitySection {
    background-color: var(--bg-lightblue-color);
    border-radius: 0.75rem;
    max-width: 50rem;
}
.availabilityList  {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}
.list {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.seat {
    border-top-left-radius: 1.5rem ;
    border-top-right-radius: 1.5rem;
    background-color: var(--font-color);
    width: 1.5rem;
    height: 1.2rem;
    margin: 0.5rem;
}
.none {
    background-color: var(--bg-color);
    width: 1.5rem;
    height: 1.2rem;
    margin: 0.25rem 0.5rem;
}


/* SEAT BOOKING SECTION */
.screenContainer {
    max-width: 30rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.screen {
    border-radius: 0.2rem;
    background-color: var(--font-color);
    margin: 0 auto;
    width: 90%;
    height: 7.5rem;
    box-shadow: 0 0.1rem 0.5rem rgba(255, 255, 255, 0.7);
}
.seatsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.available {
    background-color: var(--available-color);
}
.selected {
    background-color: var(--selected-color);
}
.occupied {
    background-color: var(--occupied-color);
}

/* PARAGRAPH */
.text {
    font-size: 0.85rem;
    margin-bottom: 3rem;
}
span {
    color: var(--selected-color);
}



/* MEDIA QUERIES */
@media screen and (max-width: 470px) {
  .mainTitle {
      text-align: center;
      line-height: 2.25rem;
  }
  /* MOVIE SELECTOR SECTION */
  .movieSelectorSection {
      align-items: center;
  }
  .pickAMovie {
      line-height: 1.25rem;
      width: 20%;
  }
  .select {
      width: 50%;
  }
  .select, .ticketCostBox {
      padding: 0.5rem 0.5rem;
  }
  /* SEATS */
  .seat, .none {
    margin: 0.25rem;
  }
  .text {
    text-align: center;
  }
}


@media screen and (max-width: 370px) {
/* MOVIE SELECTION SECTION */
.movieSelectorSection {
    flex-wrap: wrap;
}
.pickAMovie {
    margin-bottom: 0.5rem;
    padding: 0 0.75rem;
    display: inline-block;
    width: 100%;
}
.select {
    width: 75% ;
}
.ticketCostBox {
    text-align: center;
    display: block;
    width: 15%
}
/* AVAILABILITY SECTION */
.availabilityList {
    margin-block: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.list {
    margin-left: 0.5rem;
    align-items: center;
}
small {
    margin-left: 0.5rem;
}

/* SEATS */
.seat, .none {
    width: 1rem;
    height: 1rem;
}
}


@media screen and (max-width: 300px) {
    .mainTitle {
        font-size: 1.75rem;
    } 
    
    .seat, .none {
        width: 0.75rem;
        height: 0.75rem;
    }
    .pickAMovie {
        font-size: 0.9rem;
    }
    .select {
        font-size: 0.9rem;
        width: 72.5%;
    }
    .ticketCostBox {
        width: 15%;
        font-size: 0.9rem;
    }
}